#page {    
  background-color: grey;  
}

#headContainer {
  position: absolute;  
  top: 0px;  left:  10%;
  width: 800px; height: 100%;  
  background-color: white;
}

#mainContainer {
  position: absolute;
  left: 10%; top: 155px;
  width: 800px; height: 100%;  
  background-color: white;    
}

#head{
  position: absolute;
  left: 0px; top: 0px;
  width: 800px; height: 122px;  
  background: transparent url('./images/headImage3.gif') no-repeat;
}

#menu{
  position: absolute;
  left: 0px; top: 122px; 
  width: 800px; height: 20px;   
}

#menuUvod{
  position: absolute;
  left: 0px; top: 0px; 
  width: 150px; height: 20px;
  background: transparent url('./images/menuUvod4.gif') no-repeat;
}

#menuNews{
  position: absolute;
  left: 151px; top: 0px;
  width: 100px; height: 20px;  
  background: transparent url('./images/menuAktuality2.gif') no-repeat;
}

#menuDB{
  position: absolute;
  left: 252px; top: 0px;  
  width: 150px; height: 20px; 
  background: transparent url('./images/menuDB2.gif') no-repeat;
}

#menuRef{
  position: absolute;
  left: 403px; top: 0px;
  width: 100px; height: 20px;   
  background: transparent url('./images/menuOdkazy2.gif') no-repeat;
}

#menuEmpty{
  position: absolute;
  left: 503px; top: 0px;
  width: 295px; height: 20px;   
  background: transparent url('./images/menuEmpty3.gif') no-repeat;
}

#lineLeft{
  position: absolute;
  left: 150px; top: 0px;
  width: 1px; height: 75%;   
  background-color: #DCDDDE;
}

#lineRight{
  position: absolute;
  left: 650px; top: 0px;
  width: 1px; height: 75%;   
  background-color: #DCDDDE;
}
